{% load selectable_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django-Selectable-Select2 Example{% endblock %}</title>
    <style>
        body {padding-top: 60px;}
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}selectable_select2/css/select2.css">
    {% block extra-css %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Django-Selectable-Select2</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/list/">List</a></li>
                        <li class="active"><a href="/advanced/">Chained</a></li>
                        <li class="active"><a href="/advanced2/">Chained2</a></li>
                        {# <li class="active"><a href="/formset/">Formset</a></li> #}
                        <li class="divider-vertical"></li>
                        <li class="active"><a href="/listm/">List (multiple)</a></li>
                        <li class="active"><a href="/multiple/">Add (multiple)</a></li>

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
    <h1>Example Project</h1>
    {% block content %}
    <div class="row">
        <div class="span8">
            <form action="." method="post" class="well form-horizontal">
                {% csrf_token %}
            {% comment %}

                <div class="controls">
                    {% csrf_token %}
                    {% if form.is_valid %}
                        {{ form }}
                        <h2>Cleaned Data</h2>
                        {{ form.cleaned_data }}
                    {% else %}
                        {{ form }}
                    {% endif %}
                </div>
             {% endcomment %}
             {% include "form_snippet.html" %}
                <div class="form-actions">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
    </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}selectable_select2/js/select2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}selectable_select2/js/jquery.dj.selectable.select2.js"></script>
    {% block extra-js %}{% endblock %}
</body>
</html>
